{% extends 'layout/app.html' %}
{% block content %}
<!-- <h1>Dashboard :{{ request.user.username }}</h1>
<a href="{% url 'register' %}" class="btn btn-dark">Logout</a> -->
  
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Post" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>  
        <div class="col-md-8">
           <form action="{ url 'search'}" method="GET">
            <input type="text" name="Search" placeholder="search...">
            <button type="submit" class="btn btn-primary">Search</button>
           </form>
            {% for post in posts%}
            <div class="card shadow my-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>{{ post.date_created }}</small>
                        <hr>
                        <a href="" class="h3">{{ post.title }}</a>
                        <p class="text-justify my-3">
                           {{ post.content|slice:":100" }}{% if post.content|length > 50 %}...{% endif %}
                        </p>
                        <p class="text-justify my-3">
                            {{ post.tags }}
                        </p>
                        <a href="{% url 'blog' post.id %}" class="action-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}